/*Reseteo total de formatos HTML*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}/*Formato predefinido en página*/
body{
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 20px 0;
}
p{
    text-align: justify;
    text-indent: 1em;
    margin: 10px 0;
}
/*Márgenes de la página*/
.contenedor{
    width: 90%;
    margin: auto;
}/*Menú en pantalla de PC*/
.nav-raiz{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;

}
.nav-logo{
    width: 30px;
}
.menu-pr{
    display: flex;
    flex: 1;
    margin-left: 20px;
}
.menu-pr li{
    padding: 10px;
}
.menu-pr li a:hover{
    border-bottom: 2px solid white;
}
.menu-pr li a{
    padding: 2px;
}/*Botón de menú: sólo aparece cuando pantalla sea menor a 720 píxeles*/
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 2rem;
    display: none;
}/*Formato recuadro de nueva entrada*/
.nueva-entrada{
    width: 100%;
    height: 400px;
    background-color: blue;
    background: url(/img/pcb.jpg) no-repeat center center/cover;
    padding-top: 50px; 
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.nueva-entrada h1, .nueva-entrada p{
    margin: 10px;
}/*Formato de botón de leerlo! nueva entrada*/
.btn{
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding:10px 20px;
    background-color: #262626;
    font-size: 15px;
    border: 1px solid white;
    opacity: 0.7;
    margin: 10px 0;
}
.btn:hover{
    opacity: 1;
}/*Formato de las filas de entradas anteriores*/
.art-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 20px;
}
.art-cards img{
    width: 100%;
    height: 180px;
}
.art-cards h3{
    font-size: 20px;
    margin: 10px 0;
}
.art-cards a{
    padding: 10px 0;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.art-cards a:hover{
    text-decoration: underline;
}/*Formato de la sección de redes sociales*/
.social{
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.enl-social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.enl-social a{
    margin: 0 10px;
}
.enl-social i{
    font-size: 3rem;
}/*Formato del pie de página:*/
.cont-footer{
    background-color: #2f2340;
    font-size: 12px;
    padding:35px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.cont-footer ul{
    margin: 0 auto;
}
.cont-footer ul li{
    line-height: 3;
}/*Cambios de formato cuando la pantalla se reduce a 720 píxeles:*/
@media(max-width: 720px){
    /*Aparece el botón de menús:*/
    .menu-btn{
        display: block;
    }/*Formato del botón de menús:*/
    .nav-raiz ul{
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #2f3640;
        height: 100%;
        padding: 10px;
        opacity: .9;
        transform: translateX(-250px); /*Por defecto fuera de la pantalla*/
        transition: .5s ease-in-out;
    }/*Aparición de menú al presionar botón:*/
    .nav-raiz ul.menu-pr.show{
        transform: translateX(-20px);
    }/*Cambio de número de columnas de las entradas anteriores y el pié de página:*/
    .art-cards, .cont-footer{
        grid-template-columns: repeat(2, 1fr);

    }
}