/*las reglas de estilo tienen tres partes: selector{propiedad:valor;} */
#intro{
	color:black;
	background-color:blue;
}
/*Selector descendiente*/
#intro .first em{
	color:pink;
	background-color:green;
}
/*p { Los estilos pueden heredarse, si se usara este bloque todas las oraciones en la pagina aparecen con este formato.
   color:white;
   background-color:gray;
   font-size:110%;
   }*/

.formato{
	font-size:120%
}
p.serif{
	font-family: "Times new roman",Times,serif;
	font-style: italic;
}
p.sansserif{
	font-family: Helvetica,Arial,sans-serif; /*Recomendado escoger mas de una fuente por si el cliente no reconoce uno de los tipos*/
	font-style: oblique;
}
p.monospace{
	font-family: "Courier New",Courier,monospace; /*Siempre que una fuente tenga un nombre de mas de una palabra debe estar entre comillas*/
	font-weight: lighter;
}
p.cursive{
	font-family: Florence,cursive;
	font-weight: bold;
}
p.fantasy{
	font-family: Blippo,fantasy;
	font-weight: bolder; /*Tambien se define con un numero de 100 a 900*/
}
p.small{ /*Definir los tamanos los fija de manera que el usuario no los puede modificar*/
	font-size:small;
}
p.medium{
	font-size:medium;
}
p.large{
	font-size:large;
}
p.xlarge{
	font-size:x-large;
}
h1{
	font-size:20px;
	font-family:monospace;
}
h2{
	font-size:1.25em; /*em=pixels/16 util para que los clientes redefinan el tamano*/
}
p.normal{
	font-variant:normal; /*No todas las fuentes soportan este atributo*/
}
p.smallc{
	font-variant:small-caps;
}
p.cverde{
	color:green; /*Tambien soporta los formatos #hhhh y RGB(x,y,z) 0-255*/
}
p.left {
   text-align: left;
}
p.right {
   text-align: right;
}
p.center {
   text-align: center; /*Tambien existe el justificado justify*/
}
td.top {
   vertical-align: top;
}
td.middle {
   vertical-align: middle;
}
td.bottom {
   vertical-align: bottom;
}
span.baseline {
    vertical-align: baseline;
}
span.sub {
    vertical-align: sub;
}
span.super {
    vertical-align: super;
}
span.pixel {
    vertical-align: -10px; /*Acepta tambien valores en %, cm puntos pt*/
}
.main {
    height: 150px; width: 400px;
    background-color: LightSkyBlue;
    display: inline-table;
}
.paragraph {
    display: table-cell;
    vertical-align: middle;
}
p.none {
   text-decoration: none;
}
p.inherit {
   text-decoration: inherit;
}
p.overline {
   text-decoration: overline;
}
p.underline {
   text-decoration: underline;
}
p.line-through {
   text-decoration: line-through;
}
p.sang60p {
   text-indent: 60px;
}
h3 {
   color: blue;
   font-size: 30pt;
   text-shadow: 5px 2px 4px grey;
   /*5px – Coordenadas X
	 2px – Coordenada Y
	 4px – Radio de difuminacion
	 grey – Color de la sombra*/
}
p.capitalize {
   text-transform: capitalize;
}
p.uppercase {
   text-transform: uppercase;
}
p.lowercase {
   text-transform: lowercase;
}
p.normal { 
   letter-spacing: normal; 
}
p.positive { 
   letter-spacing: 4px; 
}
p.negative { 
   letter-spacing: -1.5px; 
} 
p.spnormal { 
   word-spacing: normal;
}
p.px { 
   word-spacing: 30px;
}
p.neg { 
   word-spacing: -5px;
}
/*p {white-space: nowrap;}*/
p.bordes{
   padding: 10px;    
   border: 5px solid green;
}
p.none {border-style: none;}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.hidden {border-style: hidden;}
.recuadro {
   border: 5px solid green;    /*Tambien los valores pueden ser en porcentaje*/
   width: 90px;
   height: 90px;
}
p.minimo {
   border: 5px solid green;    
   min-height: 100px;       
}
p.maximo {
   border: 5px solid green;    
   max-width: 100px;       
}
body {
	background-image: url("Azucar.jpg");
	background-repeat: repeat-x; /*repeat-y para fondo con imagenes en vertical, no-repeat para no usar mas de una vez*/
    background-color:#87CEFA; /*Tambien son validos los valores en RGB y nombre*/
	background-attachment: fixed; /*La imagen de fondo no se mueve, propiedad scroll es la predeterminada, tambien hereda*/
}
p.img {
   padding: 110px;
   background-image: url("Im watching you.jpg");
   /*background-repeat: inherit - hereda la propiedad del padre */ 
   color: yellow;
}
ol.lower-alpha {
   list-style-type: lower-alpha;
}
ul.circle {
   list-style-type: circle;
}
ul.square {
   list-style-type: square;
   list-style-position:outside;
   list-style-image:none;
   /*list-style: square outside none*/
}
ul.meme {
   list-style-image: url("Aysi.jpg");
   list-style-position: inside; /*Valor predeterminado: outside*/
}
table.collapse {
	border-style: dotted;
	border-collapse: separate;
	border-spacing: 80px 40px;
}	
caption {
   caption-side: top; /*bottom para poner el titulo en el fondo*/
}
table.empty {
   border-collapse: separate;
   empty-cells: hide;
}

td {
   border: 1px solid gray;
}
table.auto {
   table-layout: auto;
}
table.fixed {
	border-collapse: separate;
	width: 50%;
	border: 1px solid gray;
	table-layout: fixed;
}
a:hover {
   color: red;
   cursor: text;
   /*- a:hover DEBE preceder a a:link y a:visited
     - a:active DEBE preceder a a:hover*/
}
a:link {
   text-decoration: none;
   /*border:none - remueve el brode de una imagen con enlace*/
}
span.block {
   display: block;
}
h4 {
   display: none; /*grid; column; table-cell; table; list-item; none;*/
}
div.hidden {
   visibility: hidden;
}
p.position_static {
   position:static;
   top: 30px;
   right: 5px;
   color: red;
}
p.position_fixed {
   position: fixed;
   top: 30px;
   right: 5px;
   color: red;
}
p.ejemplo {
    width: 300px;
    border: 1px black solid;
    
}
span.position_relative {
    background: green;
    color: white;
    position: relative;
    top: 1px;
    left: 650px;
}
img.fl1 {
   float: right;
 }
p.ejemplo2{
	width: 120px;   
	float: left;
}
img.fl2 {
   float: left;
   width: 120px;
   margin-right: 10px;
}
.clearing {    
    clear: both;
}
div.woflw {
   width: 150px;
   height: 150px;
   background-color: LightBlue;
   float: left;
}
div.oflw {
   width: 150px;
   height: 150px;
   background-color: LightBlue;
   float: left;
   overflow: scroll; /*visible valor predeterminado, scroll, hidden, y auto*/
}
.blue {
    z-index: 3;
    position: relative;
    background-color: #8EC4D0;
	margin-left: 350px;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
    color: #FFFFFF;
}
.red {
    z-index: 2;
    position: relative;
    background-color: #FF4D4D;
    width: 120px;
    height: 120px;
    color: #FFFFFF;
    margin-top: -50px;
    margin-left: 380px;
}
.round {
    -webkit-border-radius: 24px; /*-webkit es un prefijo usado temporalmente para los buscadores chromium*/
    border-radius: 24px;
    border:1px solid green;
	background-color: blue;
    width:200px;
    padding:25px;
}
.paround {
    -webkit-border-radius: 0 0 20 20px; /*tambien acepta valores de porcentaje*/
    border-radius: 0 0 20px 20px;
    border:1px solid green;
	background-color: blue;
    width:200px;
    padding:25px;
}
div.circ {
   width: 200px;
   height: 200px;
   border-radius: 100px; /*Tiene que ser la mitad del valor del ancho y del alto*/
   background-color: green;
   color: white;
}
div.sh {
   width: 300px;
   height: 100px;
   background-color: #9ACD32;
   box-shadow: 30px 10px 15px 5px #888888; /*offset horizontal, offset vertical, difuminado, propagado, color opcional. El difuminado no acepta valores neg*/
}
div.shint {
   width: 300px;
   height: 100px;
   background-color: #9ACD32;
   box-shadow: inset 10px 10px 5px #888888; /*Puede usarse tanto el sombreado externo como interno en un solo comnado separando los valores por una coma*/
}
div.multsh {
   width: 300px;
   height: 100px;
   background-color: #9ACD32;
   box-shadow: 0 0 10px 4px #FF6347,	/*El orden de los sombreados se posicionan atras segun el orden de la lista de comandos*/
			   0 0 10px 30px #FFDAB9, 
			   30px 0 20px 30px #B0E0E6;
}
nav {
    padding: 50px 0;
    min-width: 500px; 
}
nav ul {
    background: linear-gradient(90deg, 		/*Los valores pueden ser representados en RGBA donde A es un valor entre 0.0 y 1.0 que indica la saturacion*/
     rgba(255, 255, 255, 0) 0%, 			/*Tambien se representan en hsl(matiz,saturacion,brillo); donde la matiz es un angulo en grados donde el*/
     rgba(255, 255, 255, 0.2) 25%, 			/*rojo vale 0, verde 120 y azul 240, la saturacion es un porcentaje que indica full color al 100%, y el brillo*/
     rgba(255, 255, 255, 0.2) 75%, 			/*es un porcentaje que va de negro 0% a blanco 100%*/
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 10px; 
    color: #FFFFFF;
    font-size: 18px;
    font-family: Arial;
    text-decoration: none;
    display: block;
 }
div.txtsh{
	 font-size: 44px;
	 height: 20px;
	 text-shadow: 5px 10px 2px #93968f, 
				  -3px 6px 5px #58d1e3;
}
#parent p:first-child {			/*Pseudo clase*/
   color: green;
   text-decoration: underline;   
}
#parent2 p:last-child {
   color: green;
   text-decoration: underline;   
}
div.cinc{
	width:550px
}
p.primeralinea::first-line {   /*Pseudo elementos, otros son ::first-letter ::before - inserta contenido antes de un elemento ::after - despues del elemento*/
    color: #589432;
	font-weight:bold;
}
p.seleccion::-moz-selection {
    background: #8bc34a;
    color: #fff;
}
p.antes::before {
   content: url("btn-search.png");
}
p.wrap {
   width: 210px; 
   height: 100px;
   border: 1px solid #000000;
   word-wrap: normal;
}
p.wrapbr {
   width: 210px; 
   height: 100px;
   border: 1px solid #000000;
   word-wrap: break-word;
}
div.gradl {
   float: left;
   width: 300px; 
   height: 100px;
   margin: 4px;
   color: #FFF;  
   background:-moz-linear-gradient(DeepSkyBlue, Black);
}
div.colorstop {
   float: left;
   width: 300px; 
   height: 100px;
   margin: 4px;
   color: #FFF;  
   background:-moz-linear-gradient(blue, yellow, green, pink, white);
}
div.colorpr {
   float: left;
   width: 300px; 
   height: 100px;
   margin: 4px;
   color: #FFF;  
   background:-moz-linear-gradient(blue 20%, yellow 30%, green 85%);
}
div.izq {
   float: left;
   width: 300px; 
   height: 100px;
   margin: 4px;
   color: #FFF;  
   background:-moz-linear-gradient(left, blue, green, white);
} 
div.abajo { 			/*Se pueden usar varias combinaciones left,right,bottom,top como top left*/
   float: left;
   width: 300px; 
   height: 100px;
   margin: 4px;
   background:-moz-linear-gradient(bottom, blue, green, white); /*Tambien se puede expresar la posicion en angulos (deg)*/
}
div.rep {
   float: left;
   width: 300px; 
   height: 100px;
   margin: 4px;
   color: #FFF;  
   background:-moz-repeating-linear-gradient(blue, green 20px);
} 
div.elipse {
   height: 150px;
   width: 200px;
   color: #FFF;
   background: -moz-radial-gradient(green, yellow, blue);   
}
div.circulo {
   height: 150px;
   width: 200px;
   color: #FFF;
   background: -moz-radial-gradient(circle, green, yellow, blue); 
}
div.bckgrn {
   height: 150px;
   width: 200px;
   border: 1px solid #000;
   background: url("Yao Ming.jpg") no-repeat 50% 50%;
   background-size: 100px 100px; /*(heigh,width) contain cover*/
}
#padd {
    border: 2px dotted black;
    padding: 20px;
    background: LightBlue;
    background-clip: padding-box;
}
#cont {
    border: 2px dotted black;
    padding: 20px;
    background: LightBlue;
    background-clip: content-box;
}
div.bkimg {
   background-image: url("Yao Ming.jpg"); /*Se pueden especificar varias imagenes tambien*/
   border: 2px dotted black;
   background-clip: content-box;
   padding: 20px;
   height: 200px;
   weight: 200px;
}
div.brdtr {
    border: 20px solid rgba(0, 0, 0, 0.3);
    -moz-background-clip: padding-box; 
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    width:200px;
    top:50px;
    left:50px;
    background-color:white;
}
div.dobbg {
    width: 400px;
    height: 300px;
    background-image: url("http://www.sololearn.com/uploads/css_logo.png"), url("http://www.sololearn.com/uploads/better-code.jpg");
    background-position: right bottom, left top;
    background-repeat: no-repeat;
} 
#img1 {
    opacity: 1;
}
#img2 {
    opacity: 0.5;
}
#img3 {
    opacity: 0.25;
}
div.trans {
    width: 80px;
    height: 50px;
    background: #32CD32;
    transition: width 3s;
    -webkit-transition: width 3s;
	transition-timing-function: cubic-bezier(1,0.5,0,1); /*Forma personalizada de configurar los parametros ease, ease-in, ease-out, ease-in-out, linear*/
}
div.trans:hover {
    width: 1000px;
}
div.btrans {
   width: 200px;
   height: 100px;
   margin-top: 30px;
   background-color: #32CD32;
}
div.atrans {
   width: 200px;
   height: 100px;
   margin-top: 30px;
   background-color: #32CD32;
   transform: rotate(10deg);
}
div.empty-div {
   position: relative;
   height: 100px;
   width: 100px;
   margin: 30px;
   padding: 10px;
   border: 1px solid black;
}
div.green-div {
   padding: 50px;
   position: absolute;
   background-color: #8bc34a;
   border: 1px solid white;
   transform: rotate(15deg);	/*Deben ser usados juntos estas dos propiedades*/
   transform-origin: 20% 80%;	/*center o 0 0 es el valor predeterminado*/
}
div.transl {
   padding: 50px;
   height: 100px;
   width: 100px;
   background-color: #32CD32;
   transform:translate(100px, 50px); /*translada 100px de la derecha y 50px del tope*/
}
div.skew {
   padding: 50px;
   height: 100px;
   width: 100px;
   background-color: #32CD32;
   transform:skew(30deg, 5deg) translate(100px); /*El segundo parametro es 0 si no se especifica, se puede realizar multiples transformaciones*/
}
div.scale1 {
   width: 200px;
   height: 100px;
   background-color: #8BC34A;
   transform: scale(0.7, 0.7);
   color:white;
}
div.scale2 {
   margin: 60px;
   width: 200px;
   height: 100px;
   background-color: #8bc34a;
   transform: scale(1.5,1.5);
   color:white;
}
div.anim {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: colorchange;
    animation-duration: 10s;
	animation-timing-function: ease-in;
    -webkit-animation-name: colorchange; 	/*colorchange es el nombre del keyframe para la animacion*/
    -webkit-animation-duration: 2s;
	animation-iteration-count: 5;			/*Tambien puede usarse infinite*/
	animation-direction: alternate-reverse;	/*Tambien se usa normal, reverse y alternate*/
	/*animation: colorchange 10s ease-in 5 alternate-reverse --> se puede una sola linea de comandos, el orden puede no hacer funcionar la animacion*/
}
@keyframes colorchange {
    0% {background-color: red;}		/*Tambien pueden usarse los parametros from (0%) to (100%)*/
    50% {background-color: green;}
    100% {background-color: blue;}
}
@-webkit-keyframes colorchange {
    0% {background-color: red; }
    50% {background-color: green; }
    100% {background-color: blue; }
}
div.X {
   transform: rotateX(150deg);
   width:150px;
   height:150px;
   background-color:yellow;
}
div.Y {
   transform: rotateY(150deg);
   width:150px;
   height:150px;
   background-color:yellow;
}
div.Z {
   transform: translate(100px) rotateZ(150deg);
   width:150px;
   height:150px;
   background-color:yellow;
}
	
#mybox1 {
   transform: translateX(29px) 
				translateY(5em) 
				translateZ(-13px);
	width:250px;
    height:100px;
    color:white;
    background-color:green;
}
div.empt-div {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    perspective: 100px;
    -webkit-perspective: 100px;
	transform: translate(250px);
}
div.grn-div {
    padding: 60px;
    position: absolute;
    background-color: #8bc34a;
    border: 1px solid white;
    transform: rotateX(45deg);
    -webkit-transform: rotateX(45deg);
}
img.drpshw {
    width: 130px;
    height: 100px;
}
.dropshadow {
	width: 130px;
    height: 100px;
    filter: drop-shadow(5px 9px 2px blue);
    -webkit-filter: drop-shadow(5px 9px 2px blue);
}
.filtered {
	filter: grayscale(100%);
}
.sepia{
	filter: sepia(100%);
}
.saturated{
	filter: saturate(50%); /*Pueden ser valores mayores a 100% para sobresaturar*/
}
.hrot{
	filter: hue-rotate(180deg);
}
.neg{
	filter: invert(100%); /*Invierte los claroscuros como si fuera el negativo de una fotografia*/
}
.opac{
	filter: opacity(70%);
}
.brillo{
	filter: brightness(50%); /*Valores sobre 100% aumentan el brillo, los menores lo disminuyen*/
}
.contraste{
	filter: contrast(140%);	/*Valores sobre 100% aumentan el contraste, los menores lo disminuyen*/
}
.blured {
	filter: blur(5px);
}
.filtrado {
	filter: saturate(60%) drop-shadow(5px 9px 2px gray) blur(1px) sepia(60%); /*Se puede aplicar filtrado multiple*/
} 